spring:
  application:
    name: aiservice
  mongodb:
    uri: mongodb://localhost:27017/airecommendationfitness

server:
  port: 8083

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/

